.sideList {
  position: absolute;
  z-index: 1;
  right: 10px;
  bottom: 0;
  width: 400px;
  background-color: #fff;
  overflow-y: auto;
  border-radius: 8px;
  &.noBorderPadding {
    padding-bottom: 0;
  }
  .header {
    padding: 0 16px;
    margin: 16px 0 0;
    h4 {
      font-weight: 500;
      font-size: 24px;
      color: #000;
      margin: 0;
    }
  }
  .sideCardsContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  @media screen and (max-width: 1024px) {
    display: none;
  }
  &.mobileSingleCard {
    @media screen and (max-width: 1024px) {
      display: block !important;
    }
    @media screen and (max-width: 500px) {
      display: block !important;
      position: fixed;
      inset: 0;
      max-height: none;
      width: auto;
      border-radius: 0;
      z-index: 2;
    }
  }
  &.mobileSingleCard::-webkit-scrollbar {
    display: none;
  }
}
.sideList::-webkit-scrollbar {
  display: none;
}

.bottomSliderList {
  display: none;
  @media screen and (max-width: 1024px) {
    display: block;
    position: fixed;
    z-index: 1;
    right: 0;
    left: 0;
    height: 200px;
    bottom: 0;
    background-color: transparent;
    border-radius: 8px;
  }
}
