.home {
  display: flex;
  flex-direction: column;
}

.noData {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 347px;
  .imgCon {
    position: relative;
    width: 256px;
    height: 297px;
    max-width: 70vw;
  }
  p {
    color: #000;
    text-align: center;
    margin: 0;
  }
  .noRes {
    font-weight: 500;
    font-size: 28px;
    margin: 32px 0 8px;
  }
  .couldNotFind {
    font-size: 18px;
    line-height: 32px;
  }
}

.cardsContainer {
  padding-bottom: 80px;
  .header {
    display: flex;
    align-items: center;
    @media screen and (max-width: 576px) {
      justify-content: space-between;
    }
    h3 {
      font-weight: 500;
      font-size: 24px;
      text-transform: capitalize;
      color: #000;
      margin: 0 48px 0 0;
      @media screen and (max-width: 576px) {
        margin: 0;
      }
    }
    .location {
      display: flex;
      align-items: center;
      p {
        margin: 0 0 0 8px;
        font-weight: 500;
        font-size: 14px;
        color: #000;
        &:last-of-type {
          color: #9499a5;
        }
      }
    }
  }
  .cardContainer {
    @media screen and (max-width: 420px) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  @media screen and (max-width: 576px) {
    padding-bottom: 45px;
  }
}

.paginationContainer {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 576px) {
    margin-bottom: 0;
  }
}

.toggleViewBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
  border-radius: 50px;
  font-weight: 700;
  width: 120px;
  height: 42px;
  cursor: pointer;
  border: none;
  position: fixed;
  bottom: 64px;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
  span {
    color: #fff;
    margin-right: 9px;
  }
  &.mapToggleViewBtn {
    @media screen and (max-width: 1024px) {
      bottom: 220px;
    }
  }
  @media screen and (max-width: 992px) {
    height: 32px;
    font-size: 12px;
  }
}
