.home {
  display: flex;
  flex-direction: column;
}

.cardsContainer {
  padding-bottom: 80px;
  .header {
    display: flex;
    align-items: center;
    @media screen and (max-width: 576px) {
      justify-content: space-between;
    }
    h3 {
      font-weight: 500;
      font-size: 24px;
      text-transform: capitalize;
      color: #000;
      margin: 0 48px 0 0;
      @media screen and (max-width: 576px) {
        margin: 0;
      }
    }
    .location {
      display: flex;
      align-items: center;
      p {
        margin: 0 0 0 8px;
        font-weight: 500;
        font-size: 14px;
        color: #000;
        &:last-of-type {
          color: #9499a5;
        }
      }
    }
  }
  @media screen and (max-width: 576px) {
    padding-bottom: 35px;
  }
}

.paginationContainer {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 576px) {
    margin-bottom: 45px;
  }
}

.toggleViewBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
  border-radius: 50px;
  font-weight: 700;
  width: 120px;
  height: 42px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
  span {
    color: #fff;
    margin-right: 9px;
  }
  &.mapToggleViewBtn {
    @media screen and (max-width: 1024px) {
      bottom: 220px;
    }
  }
}
