@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

body {
  margin: 0;
}

html *,
body * {
  font-family: "DM Sans", sans-serif;
}
.container {
  width: 1312px;
  max-width: calc(100vw - 120px);
  margin: auto;
}

.map-container {
  position: absolute;
  inset: 0;
}

.bottomSliderList .slick-track {
  display: flex;
  flex-direction: row;
}

.bottomSliderList .slick-track .slick-slide {
  padding: 0 8px;
}

@media screen and (max-width: 992px) {
  .container {
    max-width: calc(100vw - 60px);
  }
}

@media screen and (max-width: 768px) {
  .bottomSliderList .slick-track .slick-slide {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: calc(100vw - 32px);
  }
}

@media screen and (max-width: 400px) {
  .bottomSliderList .slick-track .slick-slide {
    padding: 0 2px;
  }
}
